a,address,body,div,footer,h1,h2,h3,h4,header,html,li,main,p,section,span,strong,ul {
   margin: 0;
    padding: 0;
   border: 0;
}
body {
    color: black;
    background-color: lightgray;
    font-family: Tahoma,sans-serif;
}
header, footer {
  background-color: #ffffff;
}
header, main, footer {
      margin: 0 auto;
       width: 800px;
}
main {
      background-color: white;
}
h1,h2,h3,h4  {
    color: #252839;
     font-size: 1.3em;
     font-weight: normal;
  text-transform: uppercase;
    text-align: center;
}
h1 {
       font: bold 2.2em Georgia,serif;
       text-shadow: 2px 2px 1px #006699;
   letter-spacing: 1px;
  text-transform: uppercase;
   padding: 1em 0 .3em;
}
header, h2 {
    font-family: Georgia,serif;
  text-align: center;
}
header {
      height: 180px;
        background: #5F9EA0 url(../../cv_webmaster/photo_nadir.png) 0 0/190px 180px no-repeat; /* Style ajouté à la leçon précédente */
        width: 620px; /* Style ajouté à la leçon précédente */
     padding: 0 0 0 180px; /* Style ajouté à la leçon précédente */
}
footer {
    padding: 1em;
    box-sizing: border-box;
}
h2 {
    padding-top: 0.6em;
}
h3 {
   text-align: left;
}
h4 {
       display:inline-block;
}
#divers h3, #formation h3 {
 margin-bottom: 0.7em;
}
#formation h4 + span, .ss-titre span {
   font-style: italic;
  color: #6E6E6E;
}
a {
     color: #252839;
}
section li {
     padding-bottom: 0.6em;
}
address {
      font-style: normal;
}
footer, .ss-titre span, section li  {
 font-size: smaller;
}
#metier {
    font-size: 1.8em;
}
#profil {
      margin: 0 0 1.2em;
    width: 40%;
}
#profil p {
       font-size: 0.9em;
     color: #6E6E6E;
       padding-top: 0.6em;
   margin: 1.2em 15% 0;
   line-height: 1.5em;
   letter-spacing: 1px;
}
.mainsection {
    margin: 1.2em 5% 0;
    overflow:auto;
}
.mainsection section{
     margin: 1.2em 0;
}
.mainsection h2 {
     font-size: 1.8em;
     text-transform: uppercase;
}
#formation ul  {
    list-style: none;
}
#contact {
        border: thin solid;
   border-radius: .3em;
  margin-top: -2.2em;
   width: 200px;
      float: right;
 margin-right: 5%;
     background-color: lightgray;
  box-shadow:4px 5px 7px gray;
}
#contact h2 {
       background-color: #252839;
    color: white;
 padding: 0.25em;
}
#contact ul{
     padding: 0.6em;
    font-size: smaller;
   list-style: none;
}
#formation section, #divers section {
  float: left;
 width: 50%;
}
#formation section:last-of-type,#divers section:last-of-type {
      margin-left: 5%;
     width: 45%;
}
.dates {
   color: #6E6E6E;
       float: right;
}
.ss-titre {
        color: #5F9EA0;
}

.fonction {
    float: left;
    width:65%;
}
.fonction ul {
  margin:0.5em 1em;
}
.competences {
        width: 35%;
       float: left;
}
.competences li {
    display: block;
      background: #252839;
  color: white;
 margin-bottom: 0.3em;
 text-align: right;
    padding: 0.3em;
       box-sizing: border-box;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252839+0,828699+100 */
  background: #252839; /* Old browsers */
       background: -moz-linear-gradient(left,  #252839 0%, #828699 100%); /* FF3.6+ */
       background: -webkit-gradient(linear, left top, right top, color-stop(0%,#252839), color-stop(100%,#828699)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(left,  #252839 0%,#828699 100%); /* Chrome10+,Safari5.1+ */
       background: -o-linear-gradient(left,  #252839 0%,#828699 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(left,  #252839 0%,#828699 100%); /* IE10+ */
  background: linear-gradient(to right,  #252839 0%,#828699 100%); /* W3C */
}
.competences li:hover {
     opacity: .8;
}
.w100 {
    width: 100%;
}
.w80 {
    width: 80%;
}
.w60 {
    width: 60%;
}
.w30 {
    width: 30%;
}